# --- Build results ---
/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Oo]bj/
/[Uu]serSettings/
/MemoryCaptures/
sysinfo.txt

# --- IDE específicas ---
.vs/
.vscode/
.idea/
*.sln
*.csproj
*.pidb
*.user
*.userprefs
*.unityproj

# --- Cache ---
/[Aa]sset[Ss]tore/
*.apk
*.aab
*.unitypackage
*.tmp
*.booproj
*.svd
*.bak
*.orig

# --- Configurações locais do Unity ---
# (não afetam o funcionamento do projeto)
ProjectSettings/EditorSettings.asset
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/TimelineSettings.asset
ProjectSettings/MemorySettings.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/QualitySettings.asset

# --- Configs de pacotes e logs ---
/Packages/packages-lock.json
/Packages/manifest-temp.json

# --- Crash reports e logs ---
/CrashReports/
*.stackdump
*.log

# --- Outros ---
/.DS_Store
/Thumbs.db
/*.mdb
*.db
*.pdb

# --- Build Player Data (Addressables, etc) ---
/ServerData/
/BuildCache/
/StreamingAssets/aa.meta
/StreamingAssets/aa/

# --- Input System gerados ---
/InputSystem/Generated/

# --- Visual Studio / Rider cache ---
/ExportedObj/
/obj/
/Library/ScriptAssemblies/
/Library/PackageCache/
/Library/ShaderCache/

# --- Sistema de testes ---
/TestResults/